eo-learn
gdal
torch
torchvision
pytorch_lightning
numpy
pandas
rasterio
shapely
geopandas
einops
tqdm
scikit-learn
scikit-image
matplotlib
wandb
segmentation-models-pytorch
psycopg2-binary
sqlalchemy
sqlalchemy_utils
geoalchemy2
geojson
python-dotenv
